databutton==0.34.0
watchdog==3.0.0
ipykernel==6.23.3
streamlit==1.24.0
openai
cohere
openai-whisper
langchain
transformers
tiktoken
faiss-cpu
chromadb
pinecone-client
llama_index
pandas
scipy
matplotlib
plotly
rich
scikit-learn
pypdf
kor
unstructured
tabulate
Pillow
PyPDF2
streamlit-chat
streamlit-pills
beautifulsoup4
qdrant-client
